@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.white {
  color: white;
  font-size: 5px;
}
.parent {
  margin: 0;
  width: 100%;
  position: relative;
}
.nav-top {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0;
  height: 80px;
  width: 100%;
  border: 1px solid gray;
  font-size: 12px;
}
.nav-h1 {
  font-size: 40px;
  margin: auto 5px;
}
.nav-img {
  height: 30px;
  width: 30px;
  margin: 10px;
  padding: 10px;
  background-color: #202c45;
  border-radius: 30px;
}
.nav-a {
  text-decoration: none;
  color: white;
  padding: 0 20px;
}
a:hover {
  color: red;
}
.content1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
  /* background-image: url("picture/carwash3.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}
.content1-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* z-index: -1; */
}
.content2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 700px;
  width: 100%;
  margin: 50px auto;
}
.content2-left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 500px;
  margin-left: 100px;
}
.content2-right {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin-left: 30px;
  width: 500px;
}
.content2-h1 {
  font-size: 30px;
  color: #202c45;
  margin: 10px 0;
}
.content2-btn {
  background-color: red;
  border: 0;
  color: white;
  height: 50px;
  width: 120px;
  border-radius: 30px;
  margin-top: 10px;
}
.content2-ul {
  color: gray;
}
.content2-li {
  padding-bottom: 5px;
}
.content3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px auto;
  height: 700px;
  width: 100%;
}
.content3-services {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;
  /* background-color: greenyellow; */
  /* margin: 20px; */
  margin: auto 50px;
}
.content3-row {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 250px;
  justify-content: center;
  align-items: left;
  margin: 20px auto;
  /* background-color: rgb(49, 54, 49); */
}
.content3-hr {
  border: 1px solid red;
  width: 50px;
  margin: 0;
  /* margin-bottom: 0; */
}
.content3-h1 {
  font-size: 40px;
  color: #202c45;
  margin: 10px auto;
}
.content3-img {
  height: 40px;
  width: 40px;
  background-image: linear-gradient(pink, violet);
}
.content3-para {
  margin-bottom: 3px;
  color: red;
}
.content3-h3 {
  color: #202c45;
}
.content3-subpara {
  color: gray;
}
.content4 {
  /* margin: 0px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  height: 350px;
  width: 100%;
  background-color: #202c45;
}
/* .container4 {
  margin-left: 40px;
  height: auto;
  width: 100%;
} */
.content4-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 220px;
  margin: 30px;
  /* margin-left: 60px; */
  /* background-color: rosybrown; */
}
.content4-img {
  height: 50px;
  width: 50px;
  color: red;
  /* background-color: aqua; */
  margin: 10px;
}
.content4-sub2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  margin: 0;
  padding: 0 5px;
  /* background-color: yellow; */
}
.content4-para {
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin: 2px 0;
}
.content4-h2 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
.content5-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.price-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  /* background-color: aqua; */
  height: 450px;
  width: 300px;
}
.price-item-middle {
  box-shadow: 0px 0px 10px 10px #eeeeee;
}
.price-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  color: #202c45;
}
.price-heading-red {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  color: red;
}
.price-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 20px;
}
.price-body {
  justify-content: center;
  color: gray;
  align-items: center;
  margin: 10px 0;
}
.price-btn {
  border: 0;
  border-radius: 30px;
  background-color: #202c45;
  height: 50px;
  width: 150px;
  color: red;
}
.price-btn:hover {
  background-color: red;
  color: white;
}
li {
  padding: 0 0 15px;
}
strong {
  font-weight: bolder;
  font-size: 50px;
  margin: 0 5px;
}
.main-frame {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  top: 80px;
  z-index: 2;
  /* left: auto; */
}

.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 400px;
  margin-right: 100px;
  /* background-color: violet; */
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto 30px;
}
.nav-bottom {
  position: sticky;
  position: -webkit-sticky;
  height: 70px;
  width: 100%;
  top: 0;
  /* left: 0; */
  background-color: #202c45;
}
.nav-btm-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  font-size: 14px;
}
.nav-btm-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 100px;
}
.nav-btm-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: auto 150px;
}
.nav-btn {
  border: 0;
  height: 40px;
  width: 160px;
  background-color: white;
  color: #202c45;
  border-radius: 30px;
  transition: background-color 0.5s;
  /* margin: auto; */
}
.nav-btn:hover {
  background-color: red;
}
.main-frame-para {
  line-height: 20px;
  margin: 30px auto;
  font-size: 20px;
  color: red;
}
.main-frame-h1 {
  line-height: 20px;
  margin: 30px auto;
  font-size: 70px;
  color: whitesmoke;
}
.main-frame-btn {
  border: 0;
  border-radius: 30px;
  background-color: red;
  height: 50px;
  width: 150px;
  color: white;
}
.main-frame-btn:hover {
  background-color: #202c45;
  color: red;
}
.content6 {
  margin: 10px 0;
  display: flex;
  /* flex-direction: row;
  justify-content: center; */
  height: 600px;
  width: 100%;
  /* background-color: black; */
}
.ws-point-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: yellow; */
  width: 800px;
  height: auto;
  margin: 30px 0px;
  margin-left: 50px;
}
.ws-left-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: aqua; */

  /* margin: 0px; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
}
.ws-left-row-sub {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 150px;
  width: 230px;
  margin: 20px 40px;
  /* background-color: blueviolet; */
}
.ws-left-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: chocolate; */
  width: 200px;
}
.ws-left-img {
  padding: 10px 0;
  height: 30px;
  width: 30px;
  color: red;
}
.ws-para {
  margin: 0;
  padding: 5px 0;
}
.ws-h1 {
  font-size: 50px;
  font-weight: 800;
  color: #202c45;
}
.ws-right {
  align-items: flex-end;
  height: 500px;
  width: 500px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 15px 0;
}
.ws-r-con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  padding: 45px 30px;
  width: 300px;
  background: #e81c2e;
  border-radius: 5px;
  height: auto;
}
.form-control {
  display: block;
  height: 45px;
  /* scroll-snap-points-x: ; */
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: transparent;
  margin: 0;
  width: 93%;
  margin-bottom: 15px;
  padding: 0 15px;
}
.ws-r-para {
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.ws-r-btn {
  height: 40px;
  width: 100%;
  background-color: white;
  color: red;
  border: 0;
  border-radius: 5px;
  margin: 15px;
}
.ws-r-btn:hover {
  background-color: #202c45;
  color: white;
}
.ws-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 15px;
  height: 300px;
  width: 300px;
}
.content7 {
  max-width: 960px;
  margin: 0 15px;
  padding: 0 15px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* height: 800px; */
  width: 100%;
}
.e-w {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* max-width: 96%; */
  /* height: 500px; */
}
.e-w-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: tomato;
  padding: 30px 0;
}
.team-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  background-color: violet;
  width: 200px;
  margin: 0 15px;
}
.team-img {
  height: 200px;
  width: 200px;
}
.team-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #202c45;
  color: white;
  width: 200px;
  height: 150px;
  /* margin: ; */
}
.team-para {
  margin: 15px;
  margin-bottom: 0;
  padding: 10px;
}
